.section {
    &__categories {
        padding-top: 120px;
        padding-bottom: 266px;
    }
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    list-style: none;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;

    &__item {
        cursor: pointer;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */

        text-align: center;

        /* gray/600 */

        color: #9A9CA5;
        transition: .3s ease;
    }

    .active {
        color: $primary;
        width: 205px;
        height: 46px;
        padding-top: 7px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */
        transition: .3s ease;
        border: 1px solid #FF5A30;
        border-radius: 4px;
    }
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__row {
        display: flex;
        gap: 30px;
    }

    &__item {
        height: 461px;
        width: 600px;
        margin-bottom: 60px;


    }
}

.list-1 {}

.pagenumbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagenumbers button {
    appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #44AAEE;
    margin: 5px;
    color: #fff;
    font-size: 18px;

    transition: .3s ;
}

