// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1200) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    font-family: 'Ubuntu', sans-serif;

    &.locked {
        overflow: hidden;
    }
}

// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btn-primary {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    /* identical to box height, or 325% */
    background: #FF5A30;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0px 40px;
    /* white */
    transition: .3s ease-in-out;
    color: #FFFFFF;

    &:hover {
        background: $primary-hover;
        transition: .3s ease-in-out;
    }
}

.btn-outline {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    /* identical to box height, or 325% */
    padding: 0px 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /* white */
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    transition: .3s ease;
    color: #FFFFFF;

    &:hover {
        background: $primary;
        transition: .3s ease;
        color: #FFFFFF;
        border: 1px solid $primary;
    }

    &--price {
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 36px;
        /* identical to box height, or 300% */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        /* primary */

        color: #FF5A30;
    }
}

.slick-track {
    display: flex;
}

.slick-list {
    overflow: hidden;
}

.main-color {

    background: #F4F5F7;

    &--white {
        background: none;
    }
}

.bg-hero {
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.4;
    right: 0px;

    &__contacts {
        opacity: 1;
        width: 51%;
    }

    &__portfolio {
        top: 0px;
        max-width: 100%;
        width: 62%;
        height: auto;
        opacity: 1;
        z-index: 0;

    }

    &__news {
        background: linear-gradient(90deg, #F4F5F6 0%, rgba(244, 245, 246, 0.86) 11.48%, rgba(244, 245, 246, 0) 41.15%);
        opacity: 1;
    }

    &--1 {
        opacity: 0.3;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
}