.hero-img {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    // .hero__img
    background-size: cover;
    background-position: center;
    height: 998px;
}

.section {

    // .section__hero

    &__hero {}
}

.swiper-scrollbar {
    position: relative;
    display: flex;
    gap: 5px;
}

.swiper {}

.mySwiper {}

.swiper-wrapper {
    padding-top: 220px;
    padding-bottom: 120px;
}

.swiper-slide {}

.container {}

.hero {

    // .hero__title

    &__title {}

    // .hero__text

    &__text {}
}

.buttons {}

.btn {}

.btn-outline {}

.btn-primary {}

.swiper-pagination {}

.swiper-button-prev {}

.swiper-button-next {}

.swiper-scrollbar {}


.num {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    width: 178px;
    background: none;
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.hero {

    // .hero__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        /* or 94px */

        letter-spacing: 1px;

        /* white */

        color: #FFFFFF;

        span {
            font-style: normal;
            font-weight: 700;
            font-size: 72px;
            line-height: 130%;
            /* or 94px */

            letter-spacing: 1px;

            /* primary */

            color: #FF5A30;
        }
    }

    // .hero__text

    &__text {
        font-style: normal;
        max-width: 595px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        /* or 30px */


        /* white */
        padding-bottom: 61px;
        padding-top: 24px;
        color: #FFFFFF;
    }
}

.buttons {
    display: flex;
    gap: 24px;
}

.btn {}

.btn-outline {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    /* identical to box height, or 325% */
    padding: 0px 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    /* white */
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    color: #FFFFFF;
}

.btn-primary {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    /* identical to box height, or 325% */
    background: #FF5A30;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0px 40px;
    /* white */

    color: #FFFFFF;
}