.section {

    // .section__history

    &__history {
        padding-bottom: 100px;
        padding-top: 180px;
        background: #F4F5F7;

        @media(max-width: $breakpoint992) {
            padding-bottom: 70px;
            padding-top: 120px;
        }

        @media(max-width: $breakpoint768) {
            padding-bottom: 40px;
            padding-top: 60px;
        }
    }
}

.container {}

.history {

    &__content {
        display: flex;
        gap: 171px;
        justify-content: space-between;

        @media(max-width: $breakpoint992) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            gap: 120px;
        }

        @media(max-width: $breakpoint768) {
            gap: 60px;
        }
    }

    // .history__item

    &__item {
        max-width: 810px;
        overflow: hidden;

        @media(max-width: $breakpoint768) {
            max-width: 100%;

        }
    }

    // .history__img

    &__img {
        max-width: 100%;
        width: 100%;
        height: auto;


    }

    // .history__text

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */

        padding-top: 36px;
        /* gray/800 */

        color: #424551;

        @media(max-width: $breakpoint768) {
            font-size: 13px;
            line-height: 140%;
        }
    }
}

.history-nav {
    max-width: 250px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(#9A9CA5, 0.5);
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    // .history-nav__button

    &__btn {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        background: none;
        color: #9A9CA5;
        padding-left: 30px;

        position: relative;

        @media(max-width: $breakpoint768) {
            font-size: 18px;
            line-height: 130%;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 13px;
            width: 1px;
            height: 16px;
            background-color: #f4f5f7;
        }

        &::after {
            content: "";
            position: absolute;
            left: -3px;
            top: 16px;
            border-radius: 100%;
            width: 8px;
            height: 8px;
            background-color: currentColor;
        }

        &--active {
            color: $primary;
        }
    }

}

.history {

    // .history__top

    &__top {
        display: flex;
        padding-bottom: 48px;
        justify-content: space-between;

        @media(max-width: $breakpoint992) {
            padding-bottom: 18px;
            align-items: center;
        }
    }

    // .history__title

    &__title {}

    // .history__slider-nav

    &__slider-nav {}

    // .history__prev

    &__prev {
        background: none;
        padding-right: 10px;
    }

    // .history__next

    &__next {
        border-radius: 100%;
        border: 1px solid $primary;
        padding: 15px 18px;
        background: $primary;
    }

    .title {}

    .slider-nav {

        // .slider-nav__btn

        &__btn {}

        .slider-btn {}
    }
}