.section {

    // .section__jobs

    &__jobs {
        padding-top: 120px;
    }
}

.container {}

.jobs {
    justify-content: space-between;
    display: flex;
    gap: 135px;
    // .jobs__item

    &__item {
        width: 705px;

        &--right {
            max-width: 390px;
        }
    }

    // .jobs__items

    &__items {
        margin-bottom: 24px;
        padding: 32px 40px;
        display: flex;

        background: #FFFFFF;
        /* gray/300 */

        border: 1px solid #E5E8ED;
        border-radius: 4px;
        transition: .3s ease;

        &--1 {
            background: #FFFFFF;
            /* gray/300 */

            border: 1px solid #E5E8ED;
            border-radius: 4px;
        }

        &:hover {
            background: #FFFFFF;
            /* gray/300 */

            border: 1px solid #E5E8ED;
            /* shadow/small */

            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
            border-radius: 4px;
            transition: .3s ease;
        }
    }

    // .jobs__content

    &__content {
        flex-direction: column;
        display: flex;
    }

    // .jobs__list

    &__list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    // .jobs__location

    &__location {
        display: flex;
        padding-right: 10px;
        border-right: 1px solid #787A80;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
    }

    // .jobs__time

    &__time {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #787A80;
    }

    // .jobs__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        /* identical to box height, or 30px */


        /* gray/900 */

        color: #1E212C;
    }

    // .jobs__btn

    &__btn {
        padding: 0px 32px;
        margin-left: auto;
        border: 1px solid #FF5A30;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 44px;
        /* identical to box height, or 314% */
        background: none;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        /* primary */
        transition: .3s ease;
        color: #FF5A30;
        border-radius: 4px;

        &:hover {
            background: $primary;
            color: #fff;
            transition: .3s ease;
        }
    }

    // .jobs__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        /* or 42px */

        display: flex;
        align-items: center;

        /* gray/900 */

        color: #1E212C;
        padding-bottom: 24px;
    }

    // .jobs__text

    &__text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        padding-bottom: 48px;

        /* gray/800 */

        color: #424551;
    }

    // .jobs__btns

    &__btns {
        display: flex;
        gap: 30px;

    }

    // .jobs__sub

    &__sub {
        border: 1px solid #FF5A30;
        border-radius: 4px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 52px;
        /* identical to box height, or 325% */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        /* primary */
        padding: 0 34px;
        background: none;
        color: #FF5A30;

        &:hover {
            background: $primary;
            color: #fff;
            transition: .3s ease;
        }
    }

    // .jobs__send

    &__send {
        background: #FF5A30;
        border-radius: 4px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 52px;
        /* identical to box height, or 325% */

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;

        /* white */

        color: #FFFFFF;
        padding: 0 44px;

        &:hover {
            background: $primary-hover;
            transition: .3s ease;
        }
    }
}

.btn-outline {}

// ************************ Модальное окно ************************ //
// mf
.modal__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;

    .modal {
        background: #FFFFFF;
        /* gray/300 */

        border: 1px solid #E5E8ED;
        /* shadow/large */

        box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
        border-radius: 4px;
        padding: 28px 28px 48px 48px;
        height: 412px;
        width: 486px;

        &__title {
            text-align: center;
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            /* identical to box height, or 42px */

            /* gray/900 */
            padding-bottom: 24px;
            color: #1E212C;
        }

        &__close {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
        }
    }
}

// ************************ Кнопка вызова модального окна ************************ //
.modal__btn {

    cursor: pointer;
}

// ************************ Модальное окно ************************ //
// mf
.modal__wrapper-1 {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;

    .modal-1 {
        background: #FFFFFF;
        /* gray/300 */

        border: 1px solid #E5E8ED;
        /* shadow/large */

        box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
        border-radius: 4px;
        padding: 28px 28px 48px 48px;
        height: 781px;
        width: 486px;

        &__title-1 {
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 150%;
            text-align: center;
            padding-bottom: 20px;
            /* gray/900 */

            color: #1E212C;
        }

        &__close-1 {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
        }
    }
}

// ************************ Кнопка вызова модального окна ************************ //
.modal__btn-1 {

    cursor: pointer;
}

.form {

    // .form__label

    &__label {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        color: #424551;
    }

    // .form__inp

    &__inp {
        margin-top: 8px;
        padding-top: 11px;
        padding-bottom: 12px;
        padding-left: 16px;
        width: 390px;
        background: #F4F5F7;
        /* gray/400 */
        margin-bottom: 20px;
        border: 1px solid #D7DADD;
        border-radius: 4px;
    
    }
}

.btn-send {
    background: #FF5A30;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #FFFFFF;
    width: 390px;
    &--1{
        margin-top: -10px;
    }
}
.file-form{
    display: none;
}
.file{
    display: flex;
    align-items: center;
    gap: 10px;
}