.section {

    // .section__main-hero

    &__main-hero {

        background: #F4F5F7;
        padding-bottom: 179px;
        padding-top: 80px;
    }
}

.container {}

.main-hero {

    // .main-hero__item

    &__item {}

    // .main-hero__navigate

    &__navigate {}

    // .main-hero__Homepage

    &__Homepage {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #424551;

    }


    // .main-hero__Services

    &__Services {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #9A9CA5;

        &--2 {
            color: #424551;
        }

        &--3 {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            /* identical to box height, or 21px */


            /* gray/600 */

            color: #9A9CA5;
        }
    }

    &__İnterior {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */


        /* gray/600 */

        color: #9A9CA5;
    }

    // .main-hero__title

    &__title {
        z-index: 11111;
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        padding-bottom: 24px;
        padding-top: 40px;
        color: #1E212C;
    }

    // .main-hero__text

    &__text {
        z-index: 11111;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #787A80;
        max-width: 600px;
    }

    // .main-hero__item-right

    &__item-right {
        transform: translateY(270px);
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        transition: .3s ease;

        &--item {
            height: 159px;
            position: relative;
            z-index: 111;
            background: #FFFFFF;
            /* shadow/small */
            transition: .3s ease;
            box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
            border-radius: 4px;
            width: 230px;

            &:hover {
                background: #FF5A30;
                box-shadow: 0px 60px 80px -20px rgba(255, 90, 48, 0.16), 0px 26px 24px -10px rgba(255, 90, 48, 0.1), 0px 12px 10px -6px rgba(255, 90, 48, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
                border-radius: 4px;
            }
        }

        &--img {}

        &--text {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            padding-top: 16px;
            padding-bottom: 32px;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 160%;
            /* identical to box height, or 26px */
            transition: .3s ease;
            text-align: center;

            /* gray/600 */

            color: #9A9CA5;

            &:hover {
                transition: .3s ease;

                color: #FFFFFF;
            }
        }
    }
}

.icon-around {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9A9CA5;


}