.section {

    // .section__offer

    &__offer {
        padding-top: 85px;
        padding-bottom: 95px;
        background: #F4F5F7;
    }
}

.offer {

    // .offer__items

    &__items {
        display: flex;
        gap: 180px;
        padding-top: 60px;

        @media(max-width: $breakpoint992) {
            gap: 100px;
        }
        @media(max-width: $breakpoint768) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
        }
    }

    // .offer__item

    &__item {
        max-width: 250px;
    }

    // .offer__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        /* identical to box height, or 42px */

        display: flex;
        align-items: center;
        padding-bottom: 24px;
        /* gray/900 */

        color: #1E212C;

        @media(max-width: $breakpoint992) {
            font-size: 22px;
            line-height: 120%;
                padding-bottom: 16px;
        }
    }

    // .offer__place

    &__place {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        /* or 26px */


        /* gray/900 */

        color: #1E212C;

        @media(max-width: $breakpoint992) {
            font-size: 14px;
            line-height: 120%;
        }
    }

    // .offer__see

    &__see {
        padding-bottom: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */

        display: flex;
        align-items: center;
        text-decoration-line: underline;

        /* primary */

        color: #FF5A30;
    }

    // .offer__call

    &__call {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */


        /* gray/700 */

        color: #787A80;

        @media(max-width: $breakpoint992) {
            font-size: 14px;
            line-height: 120%;
        }

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            /* identical to box height, or 26px */


            /* gray/900 */

            color: #1E212C;
@media(max-width: $breakpoint992) {
        font-size: 14px;
        line-height: 120%;
    }
        }
    }

    // .offer__email

    &__email {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        /* identical to box height, or 26px */


        /* gray/700 */

        color: #787A80;

        span {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            /* identical to box height, or 26px */


            /* gray/900 */

            color: #1E212C;
        }
    }
}

.offer-subitem {
    padding-top: 120px;
    // .offer-subitem__title

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 130%;
        text-align: center;
        color: #1E212C;
        @media(max-width: $breakpoint992) {
            font-size: 42px;
                line-height: 130%;
        }
        @media(max-width: $breakpoint768) {
            font-size: 36px;
                line-height: 100%;
        }
    }

    // .offer-subitem__social

    &__social {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    // .offer-subitem__social-1

    &__social-1 {

        svg {
            fill: #787A80;
            transition: .3s ease;

            :hover {
                transition: .3s ease;
                fill: #FF5A30;
            }
        }
    }
}