.section {

    // .section__stats


    &__stats {
        background-image: url(../img/bg-image.png);
        background-repeat: no-repeat;
        background-position: left;
    }
}

.container {}

.stats {
    padding-bottom: 180px;

    // .stats__items
    @media(max-width: $breakpoint768) {
        padding-bottom: 120px;
    }

    @media(max-width: $breakpoint480) {
        padding-bottom: 60px;
    }

    &__items {}

    // .stats__title

    &__title {
        padding-top: 180px;

        @media(max-width: $breakpoint768) {
            padding-top: 120px;
        }

        @media(max-width: $breakpoint480) {
            padding-top: 60px;
        }
    }

    // .stats__list

    &__list {
        padding-top: 60px;
        display: flex;
        gap: 48px;
        justify-content: center;

        @media(max-width: $breakpoint768) {
            flex-wrap: wrap;
        }
    }

    &__list-item {
        display: flex;

    }

    // .stats__item

    &__item {
        position: relative;

        svg {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }

    // .stats__parcent

    &__parcent {
        position: absolute;
        left: 41px;
        top: 47px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;



        color: #1E212C;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    // .stats__subtitle

    &__subtitle {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */
        text-align: center;
        color: #1E212C;
        padding-top: 170px;

    }
}

.percent-20 {
    position: absolute;
    left: 60px;
}